<div align="center">
<table style="background:#ffffff;width:90%;" border="1" cellspacing="0" cellpadding="4" align="center">
  <tr>
    <td>
      <%= link_to "Download List(Mugs)", redemptions_path(:redemption_type => 'mugs', :format => 'csv') %>
    </td>
    <td>
      <%= link_to "Download List(Magnets)", redemptions_path(:redemption_type => 'magnets', :format => 'csv') %>
    </td>
    <td>
      <%= link_to "Download List(T-shirts)", redemptions_path(:redemption_type => 't-shirts', :format => 'csv') %>
    </td>
    <td>
      <%= link_to "View List(Mugs)", redemptions_path(:redemption_type => 'mugs') %>
    </td>
    <td>
      <%= link_to "View List(Magnets)", redemptions_path(:redemption_type => 'magnets') %>
    </td>
    <td>
      <%= link_to "View List(T-shirts)", redemptions_path(:redemption_type => 't-shirts') %>
    </td>
  </tr> 
</table>

  <div align="right" style="width:90%;padding: 20px;">
    <%= link_to 'Delete All', delete_all_redemptions_path, :method => :post, "data-confirm" => "Are you sure to delete all?"  %>
  </div>

</div>

<br><br>

<table style="background:#ffffff;width:90%;" border="1" cellspacing="0" cellpadding="4" align="center">
  <thead>
    <tr>
      <th>Email</th>
      <th>DD User  ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Pin Code</th>
      <th>Contact Number</th>
      <% if @redemption_type == 't-shirts' %>
        <th>T shirt size</th>
      <% end %>
      <th>Event</th>
    </tr>
  </thead>
  <% @redemptions.each do |r| %>
    <tr>
      <td><%= r.email %></td>
      <td><%= r.app_user_id %></td>
      <td><%= r.name %></td>
      <td><%= r.address %></td>
      <td><%= r.pin_code %></td>
      <td><%= r.contact_number %></td>
      <% if @redemption_type == 't-shirts' %>
        <td><%= r.t_shirt_size %></td>
      <% end %>
      <td><%= r.event %></td>
    </tr>
  <% end %>
</table>
<br><br>
<div style="background:#ffffff;" align="center">
  <%= will_paginate @redemptions %>
</div>